.gear-button {
  background-color: transparent;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10%;
  display: flex;
  min-width: 0;
  height: 48px;
  width: 48px;
  padding: 0;

  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(360deg);
  }
}

.mat-icon {
  font-size: 24px;
  line-height: 1;
}

:host {
  .mat-dialog-container {
    width: 400px;
    max-width: 100%;
  }
}
