.app-container {
  display: flex;
  box-sizing: border-box;
}

.sidebar-container {
  &[enabled="true"] {
    overflow: none;
    height: 100%;
    width: 80px;
    top: 0%;
  }
}

.content-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.view-container {
  height: 100%;
  width: 100%;
}
