<mat-stepper [linear]="false" class="mat-stepper-vertical" #stepper>
  <mat-step [stepControl]="sbcConfigGroup" label="Configuration">
    <server-deploy-step-sbc-config
      [formGroup]="sbcConfigGroup"
    ></server-deploy-step-sbc-config>
  </mat-step>
  <mat-step [stepControl]="sbcBurnerGroup" label="Burner">
    <form [formGroup]="sbcBurnerGroup">
      <server-deploy-step-sbc-burner
        [formGroup]="sbcBurnerGroup"
      ></server-deploy-step-sbc-burner>
    </form>
  </mat-step>
</mat-stepper>
