<div class="sidebar">
  <div class="d-flex-container" (click)="test()">
    <div class="icon-button">
      <i class="fas fa-plus"></i>
    </div>
  </div>

  <div class="menu">
    <ng-template ngFor let-item="$implicit" [ngForOf]="menuItens" let-i="index">
      <button-component
        [disabled]="item.disabled"
        [action]="item.action"
        [title]="item.title"
        [icon]="item.icon"
      ></button-component>
    </ng-template>
  </div>

  <configuration-component></configuration-component>
</div>
