.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffff;
  padding-top: 200px;
  justify-content: space-between;
  height: 100%;
  width: 80px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  hr {
    width: 90%;
    margin: 0;
  }

  .menu-icon {
    margin-bottom: 20px; // Space between menu icon and the rest
    i {
      font-size: 24px;
      color: #333;
    }
  }

  .menu,
  .extra-menu {
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
    gap: 15px;
    width: 100%; // Ensure it takes full width of the sidebar

    button {
      border: none;
      background-color: transparent; // Ensure background color does not affect alignment
      width: 100%; // Ensure buttons take full width for proper alignment
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #77bac6;
        color: #000;
        border-radius: 15px;
      }
    }
  }

  .d-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; // Ensure it takes full width of the sidebar
  }
}
