<div class="sidebar">
  <div class="d-flex-container">
    <!--   <div class="menu-icon">
      <i class="fas fa-bars"></i>
    </div> -->

    <div class="icon-button">
      <i class="fas fa-plus"></i>
    </div>
  </div>

  <div class="menu">
    <ng-template ngFor let-item="$implicit" [ngForOf]="menuItens" let-i="index">
      <button-component
        [disabled]="item.disabled"
        [action]="item.action"
        [title]="item.title"
        [icon]="item.icon"
      ></button-component>
    </ng-template>
    <!-- <button
      class="menu-item"
      (click)="setActive('Map')"
      [class.active]="activeMenu === 'Map'"
      [disabled]="disabledMenus.includes('Map')"
    >
      <div class="menu-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Map</span>
      </div>
    </button>

    <button
      class="menu-item"
      (click)="setActive('Cloud')"
      [class.active]="activeMenu === 'Cloud'"
      [disabled]="disabledMenus.includes('Cloud')"
    >
      <div class="menu-item">
        <i class="fas fa-globe"></i>
        <span>Cloud</span>
      </div>
    </button>

    <button
      class="menu-item"
      (click)="setActive('Fog')"
      [class.active]="activeMenu === 'Fog'"
      [disabled]="disabledMenus.includes('Fog')"
    >
      <div class="menu-item">
        <i class="fas fa-water"></i>
        <span>Fog</span>
      </div>
    </button>

    <button
      class="menu-item"
      (click)="setActive('Edge')"
      [class.active]="activeMenu === 'Edge'"
      [disabled]="disabledMenus.includes('Edge')"
    >
      <div class="menu-item">
        <i class="fas fa-server"></i>
        <span>Edge</span>
      </div>
    </button>

    <button
      class="menu-item"
      (click)="setActive('Devices')"
      [class.active]="activeMenu === 'Devices'"
      [disabled]="disabledMenus.includes('Devices')"
    >
      <div class="menu-item">
        <i class="fas fa-tools"></i>
        <span>Devices</span>
      </div>
    </button> -->

    <!-- <button-component
      title="map"
      icon="fas fa-map-marker-alt"
      [action]="test"
    /> -->
  </div>

  <configuration-component></configuration-component>
</div>
