@import "src/styles.scss";

.menu-item {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  border: none;
  gap: 5px;
  width: 60px;
  background-color: transparent; // Default background color
  padding: 10px; // Uniform padding
  border-radius: 8px; // Uniform border-radius
  box-sizing: border-box; // Include padding and border in element's total width and height
  transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition

  &:selected {
    border-color: 2px solid red;
  }

  &:disabled i,
  span {
    // background-color: $disabled-color;
    color: #b3b3b3ee;
    fill: #b3b3b3ee;
  }

  i {
    font-size: 24px;
    color: #333; // Default icon color
  }

  span {
    color: #333; // Default text color
    font-size: 14px; // Adjust font size as needed
  }

  &:hover:enabled {
    background-color: #00d5c9; // Hover background color
    border-radius: 8px; // Maintain the same border-radius on hover

    i {
      color: #fff; // Change icon color on hover
    }

    span {
      color: #fff; // Change text color on hover
    }
  }
}

.icon-button {
  transition: background-color 0.3s ease;
  background-color: #c4bdc4;
  border-radius: 30px; // Rounded corners
  justify-content: center;
  align-items: center;
  display: flex;

  i {
    font-size: 24px;
    color: #333;
  }

  &:hover {
    background-color: #77bac6;
  }
}
